body{
    background-color:rgb(246, 227, 196);
}

.weather-container{
    background:rgb(103, 139, 192);
    text-align: center;
    margin:20%;
}
.icon{
    height:75px;
    width:75px;
}
.weather{
    font-size: 22px;
    margin: 0;
    padding-bottom:30px;
}

.temp{
    font-size: 60px;
    margin:0;
    font-weight: bold;
}